.Home {
  background: transparent;
  min-height: 200px;
  overflow: hidden;
}
.Article {
  padding: 80px 0 0
}
.Article-title {
  padding: 20px 0;
  font-weight: bold;
}
.Article-title .Name{
  text-transform: uppercase;
  font-size: 0.8em;
}
.Article-title .Website{
  font-weight: normal;
  font-size: 0.8em;
}
.Article-copy {
  padding: 20px 0;
  font-size: 0.6em;
}