.Header {
  /* background-color: #3871c0; */
  /* height: 88px; */
  color: white;
  font-size: 1.5em;
}
.Header-logo{
  /* background: green; */
  width: 120px;
  /* height: 64px; */
  position: relative;
  padding: 10px 20px;
}
.Header-logo img{
  width: 120px;
  height: 44px;
}
.Header-breadcrumb-nav{
  clear: both;
  background: #F2F2F2;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  width: 100%;
  color: #000;
  font-size: 0.45em;
  padding: 0;
  text-align: left;
}
.Header-breadcrumb-nav-item{
  padding: 8px 20px 6px;
  /* height: 16px; */
}